name: Publish vue+Vite to Docker Hub

on:
  push:
    paths:
      - "vue/**"
      - "!**.md"
    branches:
      - main    # change if your main branch is different
  workflow_dispatch: # allow manual trigger

jobs:
  push-to-dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./vue
          file: ./vue/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:vue-latest, ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:vue-${{ github.sha }}

      - name: Build and push non optimized Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./vue
          file: ./vue/Dockerfile.basic
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:vue-non-optimized-latest, ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:vue-non-optimized-${{ github.sha }}